.FiltersContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:20%;
    /* color:red; */
}

/* .PriceFilter {

}

.RatingFilter {

} */

.SearchList {
    /* color:red; */
    width: 80%;
}