.footer-container {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
}

.footer-style {
    display: flex;
    color: #828282;
    margin-left: auto;
    margin-right: auto;
}

.footer-list>ul {
    list-style: none;
}

.footer-list>li, h4 {
    list-style: none;
    padding-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
}

.copyright {
    color: #828282;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
}